---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import FormattedDate from '../../components/FormattedDate.astro';
import pdfs from '../../data/pdfs.json';

const SITE_TITLE = 'PDF Archive';
const SITE_DESCRIPTION = 'A searchable archive of public PDFs';
const sorted = pdfs.sort((a, b) => new Date(b.pubDate) - new Date(a.pubDate));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<section>
				<ul>
					{
						sorted.map((pdf, index) => (
							<li>
								<a href={`/pdfs/${pdf.slug}/`}>
									<img src={pdf.heroImage} alt="" width="720" height="360" />
									<h4 class="title">{pdf.title}</h4>
									<p class="date"><FormattedDate date={new Date(pdf.pubDate)} /></p>
								</a>
							</li>
						))
					}
				</ul>
			</section>
		</main>
		<Footer />
	</body>
</html>