---
import { type CollectionEntry, getCollection, getEntry } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import { render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getCollection('blog');

	// Resolve authors up front
	const paths = await Promise.all(
		posts.map(async (post) => {
			const authorEntry = post.data.author
				? await getEntry('authors', post.data.author)
				: null;

			return {
				params: { slug: post.id },
				props: {
					post,
					author: authorEntry?.data ?? null,
				},
			};
		})
	);

	return paths;
}

const { post, author } = Astro.props;
const { Content } = await render(post);
---

<BlogPost {...post.data}>
	<Content />
		{author ? (
			<>
				<strong>{author.tag}</strong>,<br />
				<a href={author.plug} style="color: gray;">{author.name}</a><br />
				{author.role}<br />
				{author.organisation}
			</>
		) : (
			<em>Author info missing</em>
		)}
</BlogPost>